body{
    background-color: #CED4D8;
}
h1{
    color: #AC6AC7;
}
h2{
    color: rgb(255,165,0);
}
li{
    color: blue;
}
p{
    background-color: gold;
}
input{
    border: dotted pink 5px;
}
.first{
 background-color: #fff;
}
#important {
    border: dashed 3px #0000FF;
}
div p{
    font: 30px;
}
input[type="Email"] {
    background-color:#808080;
}
a{
    color: silver;
}
#important::first-letter{
    font-size: 90px; 
    color: lime ;
}
h1:hover{
    color: navy; 
}
div:nth-child(7) > p{
    background-color: hotpink;
}